{% include "base_layout.html" %}
{% load static %}
<style>
    /* Hide the Razorpay default button */
    .razorpay-payment-button {
        display: none !important;
    }
</style>

<div class="row text-center max-auto">
    <div class="col-4">
        <h3> {{ name }}</h3>
        <h2>Delivery Address</h2>
        {% if address %}
            <p>{{ address }} <br>{{ city }} <br>{{ locality }}<br>{{ phone }}<br>{{ pincode }}</p>
            <form method="POST" action="{% url 'update_address_form' %}">
                {% csrf_token %}
                <button type="submit" class="btn">Update Address</button>
            </form>
        {% else %}
            <form method="POST" action="{% url 'place_order' %}">
                {% csrf_token %}
                <input type="text" name="address" placeholder="NAME">
                <input type="text" name="city" placeholder="CITY">
                <input type="text" name="locality" placeholder="LOCALITY">
                <input type="text" name="phone" placeholder="PHONE">
                <input type="text" name="pincode" placeholder="PINCODE">
                <button type="submit" class="btn">Add Address</button>
            </form>
        {% endif %}
    </div>
    <!--payment gateway-->
    <div class="col-4">
        <h4>PAYABLE AMOUNT</h4>
        {{total}}
        <!-- Razorpay payment button -->
        <form action="{% url 'payments' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="total_amount" value="{{ total }}">
            <script src="https://checkout.razorpay.com/v1/checkout.js"
            data-key="rzp_test_QmPhbR0YVT5egw" 
            data-amount="{{total_amount_paise}}" 
            data-currency="INR" 
            data-name="Your Company Name" 
            data-description="Payment for Order" 
            data-image="https://your-company-logo.png"
            data-theme.color="#F37254"></script>
            
            <button type="submit" class="btn">Pay with Razorpay</button>
        </form>
    </div>
</div>
