{% include "base_layout.html" %}
{% load static %}
<div class=" row text-center max-auto">
    <div class="col-4">
    userName : {{name}}
    <h2>Delivery address</h2>
    {% if address%}
    {{address}}
    
        
        <a href="#address_form" name="update" class="btn">Add New</a>
    
    {% else %}
   
    <form method="POST" id="address_form" action="{% url 'update_address' %}">
        {% csrf_token %}
        <input type="text" name="address"  placeholder="address">
        <input type="text" name="city"  placeholder="city">
        <input type="text" name="locality"  placeholder="locality">
        <input type="text" name="phone"  placeholder="phone">
        
        <button type="submit" name="update" class="btn">update</button>
    </form>

    {% endif %}
</div>
 </div>
