{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RedStore | Ecommerce Website Design</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- Inside your <head> or just before </body> -->
    
    
</head>

<body>
    <!--header layout-->
    {% block header %}
    {% include "header_layout.html" %}
    {% endblock header %}

   


          
                   
           
    


    <!-- javascript -->

    <script>
        var MenuItems = document.getElementById("MenuItems");
        MenuItems.style.maxHeight = "0px";
        function menutoggle() {
            if (MenuItems.style.maxHeight == "0px") {
                MenuItems.style.maxHeight = "200px"
            }
            else {
                MenuItems.style.maxHeight = "0px"
            }
        }
        
           
                          
            
    </script>
    
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Smooth scrolling for scroll-link class
            document.querySelectorAll('.scroll-link').forEach(anchor => {
                anchor.addEventListener('click', function (e) {
                    e.preventDefault();
    
                    document.querySelector(this.getAttribute('href')).scrollIntoView({
                        behavior: 'smooth'
                    });
                });
            });
        });
    </script>

</body>

</html>