{% load static %}
<div class="header">
    <div class="container">
        <div class="navbar">
            <div class="logo">
                <a href="{% url 'index' %}"><img src="{% static 'images/logo.png' %}" alt="logo" width="125px"></a>
            </div>
            <nav>
                <ul id="MenuItems">
                    <li class="dropdown">
                        <a href="#" id="accountLink">Account</a>
                        <div class="dropdown-content" id="accountDropdown">
                            {% if user.is_authenticated %}
                                <a href="">Profile</a>
                                <a href="{% url 'logout' %}">Logout</a>
                            {% else %}
                                <a href="{% url 'account' %}?login=true">Login</a>
                                <a href="{% url 'account' %}" >Register</a>
                            {% endif %}
                        </div>
                    </li>
                    <li><a href="#">Products</a></li>
                    <li><a href="#footer" class="scroll-link">Contact</a></li>
                </ul>
            </nav>
            {% if user.is_authenticated %}
            <a href="#"><img src="{% static 'images/cart.png' %}" width="30px" height="30px"></a>
            {% else %}
            <a href="{% url 'account' %}?login=true"><img src="{% static 'images/cart.png' %}" width="30px" height="30px"></a>
            {% endif %}
        </div>
    </div>
</div>

<!-- JavaScript to toggle dropdown -->

<!-- JavaScript to toggle dropdown and redirect to respective forms -->
<script>
    document.addEventListener("DOMContentLoaded", function() {
        var accountLinks = document.querySelectorAll(".dropdown > a");

        // Add event listeners to each account link
        accountLinks.forEach(function(link) {
            link.addEventListener("click", function(event) {
                // Prevent default link behavior
                event.preventDefault();

                // Toggle the dropdown content visibility
                var dropdownContent = this.nextElementSibling;
                dropdownContent.style.display = (dropdownContent.style.display === "block") ? "none" : "block";

                // Check if the clicked link is Register or Login
                if (this.innerText === "Register") {
                    // Redirect to the registration form page
                    window.location.href = "{% url 'account' %}?register=true";
                } else if (this.innerText === "Login") {
                    // Redirect to the login form page
                    window.location.href = "{% url 'account' %}?login=true";
                }
            });
        });
    });
</script>
