{% include "base_layout.html" %}
{% load static %}


    <!-- Single Products -->
    <div class="small-container single-product">
        <div class="row">
            <div class="col-2">
                <img src="{% static 'images/wayprotein1.png' %}" width="100%" id="ProductImg">

                <div class="small-img-row">
                    <div class="small-img-col">
                        <img src="{% static 'images/wayprotein1.png' %}" width="100%" class="small-img">
                    </div>
                    <div class="small-img-col">
                        <img src="{% static 'images/wayprotein1.png' %}" width="100%" class="small-img">
                    </div>
                    <div class="small-img-col">
                        <img src="{% static 'images/wayprotein2.png' %}" width="100%" class="small-img">
                    </div>
                    <div class="small-img-col">
                        <img src="{% static 'images/wayprotein3.png' %}" width="100%" class="small-img">
                    </div>
                </div>

            </div>
            <div class="col-2">
                <p>Home / Way Protein</p>
                <h1>Organic Way Protein</h1>
                <h4>₹599.00</h4>
                <select>
                    <option>Quantity</option>
                    <option>500 g</option>
                    <option>1 kg</option>
                    <option>2 kg</option>
                    <option>3 kg</option>
                    <option>5 kg</option>
                </select>
                <input type="number" value="1">
                <a href="" class="btn">Add To Cart</a>

                <h3>Product Details <i class="fa fa-indent"></i></h3>
                <br>
                <p>This blend is made with highly purified collagen peptides to give you a delicious shake with a 90% protein content*, helping you to boost your daily intake without taking on unnecessary fats and carbs</p>
            </div>
        </div>
    </div>
    <!-- title -->
    <div class="small-container">
        <div class="row row-2">
            <h2>Related Products</h2>
            <p>View More</p>
        </div>
    </div>
    <!-- Products -->
    <div class="small-container">
        <div class="row">
            <div class="col-4">
                <a href="{% url 'product_details' %}"><img src="{% static 'images/wayprotein.png' %}"></a>
                <h4> Way Protein</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>₹599.00</p>
            </div>
            <div class="col-4">
                <img src="{% static 'images/pineapplepw.jpg' %}">
                <h4>Pinapple Juice Powder</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>₹199</p>
            </div>
            <div class="col-4">
                <img src="{% static 'images/bananapw.jpg' %}">
                <h4> Banana Powder</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>₹299</p>
            </div>
            <div class="col-4">
                <img src="{% static 'images/Jackfruitpw.png' %}">
                <h4>Jack Fruit Powder</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>₹499.00</p>
            </div>
        </div>
    </div>

   
    <!-- product gallery -->
    <script>
        var ProductImg = document.getElementById("ProductImg");
        var SmallImg = document.getElementsByClassName("small-img");

        SmallImg[0].onclick = function () {
            ProductImg.src = SmallImg[0].src;
        }
        SmallImg[1].onclick = function () {
            ProductImg.src = SmallImg[1].src;
        }
        SmallImg[2].onclick = function () {
            ProductImg.src = SmallImg[2].src;
        }
        SmallImg[3].onclick = function () {
            ProductImg.src = SmallImg[3].src;
        }

    </script>
    