{% include "base_layout.html" %}
{% load static %}


    <!-- Single Products -->
    <div class="small-container single-product">
        <div class="row">
            <div class="col-2">
                <img src="{{product.image.url}}" width="100%" id="ProductImg">

               

            </div>
            <div class="col-2">
                <p>Home /{{product.title}}</p>
                <h1>{{product.title}}</h1>
                <h4>₹{{product.price}}</h4>
                <select>
                    <option>Quantity</option>
                    <option>500 g</option>
                    <option>1 kg</option>
                    <option>2 kg</option>
                    <option>3 kg</option>
                    <option>5 kg</option>
                </select>
                <input type="number" value="1">
                <a href="" class="btn">Add To Cart</a>

                <h3>Product Details <i class="fa fa-indent"></i></h3>
                <br>
                <p>{{product.descriptions}}</p>
            </div>
        </div>
    </div>
    <!-- title -->
    
    <!-- Products -->
   

   
    <!-- product gallery -->
    <script>
        var ProductImg = document.getElementById("ProductImg");
        var SmallImg = document.getElementsByClassName("small-img");

        SmallImg[0].onclick = function () {
            ProductImg.src = SmallImg[0].src;
        }
        SmallImg[1].onclick = function () {
            ProductImg.src = SmallImg[1].src;
        }
        SmallImg[2].onclick = function () {
            ProductImg.src = SmallImg[2].src;
        }
        SmallImg[3].onclick = function () {
            ProductImg.src = SmallImg[3].src;
        }

    </script>
    