
{% load static %}
{% load row_split %}

<div class="small-container">
    <div class="row row-2">
        <h2>All products</h2>
    </div>
   
       {% for row_products in list_products|row_split:4 %}
    <div class="row">
        {% for product in row_products %}
        <div class="col-3">
           
           <a href="{% url 'product_details' product.id %}"><img src="{{product.image.url}}"></a>
            <h4>{{product.title}} </h4>
            
            <p>₹{{product.price}}</p>
        </div>
      {% endfor %}
    </div>
{% endfor %}
<!--page button-->
    <div class="page-btn">
        {% if list_products.has_previous %}
        <a href="?page={{list_products.previou_page_number}}"><span> << </span></a>
        {% endif %}

        {% for i in list_products.paginator.page_range %}
        <a href="?page={{i}}"><span>{{i}}</span></a>
        {% endfor %}

        {% if list_products.has_page %}
        <a href="?page={{list_products.next_page_number}}"><span>>></span></a>
        {% endif %}
        
    </div>
</div>


